<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>HOKI</title>
    <link rel="shortcut icon" href="/static/img/ico.png">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/index.js" rel="script" type="application/javascript"></script>
</head>
<body>
<div id="header" class="center right-header">
    <ul>
        <li>
            <a href="#">More</a>
        </li>
        <li>
            <a href="#aboutme">About Me</a>
        </li>
    </ul>
</div>

<div id="banner" class="center">
    <div>
        <a href="#"><img  id=myIcon src="/static/img/icon.png" onclick="changeIcon()"></a>
    </div>
    <h2><span>Hi,I'm Hoki</span><span style="clear:both;display: block">In the deep sea of knowledge, I am a freshwater fish.</span></h2>
</div>

<div id="content" class="center">
    <div>
        <p>Main</p>
        <div class="img"><a href="#"><img src="/static/img/img1.jpg" alt="img1"></a>
            <div class="desc">Blog</div>
        </div>
        <div class="img"><a href="#"><img src="/static/img/img1.jpg" alt="img2"></a>
            <div class="desc">Read</div>
        </div>
        <div class="img"><a href="#"><img src="/static/img/img1.jpg" alt="img3"></a>
            <div class="desc">Pictures</div>
        </div>
        <div class="img"><a href="#"><img src="/static/img/img1.jpg" alt="img4"></a>
            <div class="desc">Code</div>
        </div>
    </div>
    <div id="aboutme" class="introduce">
        <h4>ABOUT ME</h4>
        <p>出生在无锡，童年在常州，初中回到贵州，2016年进入帝都某211大学学习软件工程，现在是个在编程路上努力挣扎的大三老学姐。
            轻度死宅，懒癌晚期，爱美食，爱二次元，爱古风，爱画画，爱摄影，当然也爱编程。</p>
        <a href="#" class="primary-a" style="float: right">了解更多</a>
    </div>
</div>

<div id="footer" class="center footer">
    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="external nofollow">京ICP备18041486号</a><br>
    Designed and developed by Hoki.<br>
    Copyright © 2018 hokii.cn. All Rights Reserved.
</div>
</body>
</html>