<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <div class="center signin-header">
        <a href="#"><img src="/static/img/home.png"></a>
        <h1>Sign In</h1>
    </div>
</div>

<div id="banner"></div>

<div id="content"></div>

<div id="footer" class="center footer">
    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="external nofollow">京ICP备18041486号</a><br>
    Designed and developed by Hoki.<br>
    Copyright © 2018 hokii.cn. All Rights Reserved.
</div>
</body>
</html>