<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div id="signin" class="symmetrial">
    <img src="/static/img/img1.jpg">
    <div class="signinfo">
        <a href="#"><img src="/static/img/home.png"></a>
        <h1>Sign In</h1>
        <form >
            <input id="username" type="text" placeholder="username">
            <input id="password" type="text" placeholder="password">
            <button type="submit">Sign In</button>
        </form>
    </div>
</div>

<div id="footer" class="center footer">
    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="external nofollow">京ICP备18041486号</a><br>
    Designed and developed by Hoki.<br>
    Copyright © 2018 hokii.cn. All Rights Reserved.
</div>
</body>
</html>