<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoki</title>
    <link rel="shortcut icon" href="/static/img/ico.png">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <div id="nav" class="center left-header">
        <ul>
            <a href="#"><img src="/static/img/home.png" alt="Home"></a>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Read</a></li>
            <li><a href="#">Pictures</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Connect me</a></li>
            <li class="search">
                <form>
                    <input id="search" type="text" placeholder="">
                    <button type="submit"><img src="/static/img/search.png"></button>
                </form>
            </li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </div>
</div>

<div id="banner"></div>

<div id="content"></div>

<div id="footer" class="center footer">
    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="external nofollow">京ICP备18041486号</a><br>
    Designed and developed by Hoki.<br>
    Copyright © 2018 hokii.cn. All Rights Reserved.
</div>
</body>
</html>